/* --------------------------------- General -------------------------------- */

body{
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
}

h1, h3, h4, h5, h6 {
    font-family: "Montserrat", serif;
    color: #020e18;
    font-weight: normal;
}

h2{
    font-family: "Open Sans", serif;
    color: #020e18;
    font-weight: normal;
}

p {
    font-family: "Open Sans", serif;
    color: #020e18;
}

a {
    font-family: "Montserrat", serif;
    color: #020e18;
}


/* --------------------------------- header --------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 8em;
    background-color: #fbfbfb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav img {
    width: 75px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    padding: 0 1em;
}

.nav-a ul li{
    background-color: #fbfbfb;
}

.traduction {
    
    a{
        background-color: #020e18;
        color: #fbfbfb;
        border-radius: 2em;
        padding: 0.5em 1em;
        font-size: small;
    }
}

/* --------------------------------- Landing -------------------------------- */

#landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10em 8em 0 8em;
}

.landing-button1 {
    text-decoration: none;
    background-color: #020e18;
    color: #fbfbfb;
    padding: 0.5em 1.5em;
    border: 2px solid #fbfbfb;
    border-radius: 2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.landing-button2 {
    text-decoration: none;
    background-color: #fbfbfb;
    color: #020e18;
    border: 2px solid #020e18;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.landing-button2:hover {
    background-color: #020e18;
    color: #fbfbfb;
}

.landing-button1:hover {
    background-color: #fbfbfb;
    color: #020e18;
    border: 2px solid #020e18;
}

#landing img {
    border-radius: 3em;
    align-content: center;
    width: 40%;
    height: auto;
    margin: 0 auto;
}

#landing h1 {
    font-size: 50px;
    margin: 0;
}

#landing h2 {
    font-size: 20px;
    color: rgb(104, 104, 104);
    margin: 0;
}

#landing p {
    font-size: 16px;
    padding: 0em 0 1.5em 0;
}

/* ---------------------------------- Skils --------------------------------- */

#skills {
    padding: 10em 8em 0 8em;
}


#skills h1 {
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding: 1.5em ;
}

.skills {
    display: flex;
    padding: 1em;
}

.skills-container h2 {
    background-color: #020e18;
    border-radius: 2em;
    padding: 0.5em;
    color: #fbfbfb;
    text-align: center;
    margin: 0;
    font-size: medium;
}

.skills-container .skill-item {
    display: flex;
    align-items: center;
    padding: 1em;
}

.skills-container .skill-item img {
    width: 50px;
    height: 50px;
    margin-right: 1em;
}

.skills-container .skill-item p {
    margin: 0;
}

/* -------------------------------- Timeline -------------------------------- */
#timeline {
    padding: 10em 8em 0 8em;
}

#timeline h1 {
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding: 1.5em ;
}

#timeline ul {
    font-family: "Open Sans", serif;
    list-style-type: none;
    padding-left: 1em;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timeline ul ul {
    margin-left: 1em;
    border-left: #020e18 solid 2px;
}

#timeline ul ul li{
    padding: 1em;
    border-radius: 2em;
    background-color: #fbfbfb;
    color: #020e18;
    margin: 0.5em;
    display: flex;
    align-items: center;
}

#timeline ul li {
    padding: 0.5em 4em;
    border-radius: 2em;
    background-color: #020e18;
    color: #fbfbfb;
    margin: 0.5em;
    display: flex;
    align-items: center;
}